.mooze-form-container {
  @include flex(column, space-evenly, center);

  padding: 10px 10%;
  width: 70%;
  height: 85%;
  border: #ccc solid 1px;
  border-radius: 5%;
}

.mooze-form-title {
  font-size: 1.7rem;
}

.mooze-form-btn-container {
  @include flex(row, space-between, center);

  width: 100%;
}

.mooze-form-btn {
  @include neumorphism();

  padding: 0.4rem 1.5rem;
}
