.mooze-form-container {
  @include flex(column, space-evenly, center);

  padding: 0 10%;
  width: 70%;
  height: 85%;
  border: #ccc solid 1px;
  border-radius: 5%;
}

.mooze-form-title {
  font-size: 1.5rem;
}

.mooze-form-file-upload {
  width: 100%;
  border: red solid 1px;
}

.mooze-form-btn {
  @include neumorphism();

  margin: 10px 20px;
  padding: 0.4rem 1.5rem;
}
