.mooze-form-container {
  @include flex(column, space-evenly, center);

  padding: 0 10%;
  width: 70%;
  height: 85%;
  border: #ccc solid 1px;
  border-radius: 5%;
}

.mooze-form-title {
  padding: 5px 0;
  font-size: 1.7rem;
}

.mooze-form-upload {
  @include flex(row, space-evenly, center);

  width: 100%;
}

.mooze-form-btn {
  @include neumorphism();

  margin: 0 20px;
  padding: 0.4rem 1.5rem;
}
