@import './form';

.mooze-container {
  @include flex(row, space-evenly, center);

  width: 100%;
  height: 90%;
}

.mooze-left-container {
  @include flex(column, center, center);

  width: 50%;
  height: 100%;
}

.mooze-right-container {
  @include flex(column, center, center);

  width: 50%;
  height: 100%;
}

.mooze-banner-img {
  width: 60%;
  object-fit: contain;
  // border: red solid 1px;
}

.mooze-metamask-btn {
  @include flex(column, center, center);
  @include neumorphism-convex-strong();

  width: 50%;
  height: 30%;
}

.mooze-metamask-img {
  margin-bottom: 1rem;
  width: 6rem;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
}
