@import './form';

.mooze-container {
  @include flex(row, center, center);

  width: 100%;
  height: 90%;
}

.mooze-left-container {
  @include flex(row, center, center);

  width: 50%;
  height: 100%;
}

.mooze-right-container {
  @include flex(column, center, center);

  width: 40%;
  height: 100%;
}

.mooze-banner-img {
  width: 200px;
  object-fit: contain;
}

.mooze-left-text-container {
  @include flex(column, center, center);

  margin-right: 2rem;
  color: $text-color;
}

.mooze-left-text-title {
  font-size: 5rem;
  color: $text-color;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25),
    -3px -3px 3px rgba(255, 255, 255, 1);
}

.mooze-left-text-subtitle-en {
  margin-top: 0.5rem;
}

.mooze-left-text-subtitle-zh {
  margin-top: 1.2rem;
  font-size: 1.1rem;
}
