.project-info-container {
  @include flex(row, space-between, flex-start);

  padding: 3rem 4rem;
  width: 100%;
  min-height: calc(100% - 80px);
  // border: red solid 1px;
}

.project-info-images-container {
  // @include neumorphism-convex-normal();

  overflow-x: auto;
  overflow-y: auto;
  margin-right: 5rem;
  width: calc(50% - 5rem);
  height: 100%;
  // border-radius: 20px;
  // border: red solid 1px;
}

.project-info-text-container {
  width: 50%;
  min-height: 100%;
}

.project-info-image {
  width: 100%;
  // height: 100%;
  object-fit: contain;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @include neumorphism-concave-normal();

  background: #edeae9;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 20px;
}
