.project-info-container {
  @include flex(row, space-between, flex-start);

  padding: 3rem 4rem;
  width: 100%;
  min-height: calc(100% - 80px);
  // border: red solid 1px;
}

.project-info-images-container {
  // @include neumorphism-convex-normal();

  overflow-x: auto;
  overflow-y: auto;
  margin-right: 5rem;
  width: calc(50% - 5rem);
  height: 100%;
  // border-radius: 20px;
  // border: red solid 1px;
}

.project-info-text-container {
  @include flex(column, flex-start, flex-start);

  width: 50%;
  min-height: 100%;
  font-size: 1.2rem;
}

.project-info-image {
  width: 100%;
  // height: 100%;
  object-fit: contain;
}

.project-info-text-name {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.25),
    -1.5px -1.5px 2px rgba(255, 255, 255, 1);
}

.project-info-text-item-container {
  @include flex(row, flex-start, flex-start);

  margin-bottom: 2rem;
  width: 100%;
  word-break: break-all;
  // border: red solid 1px;

  > .label {
    width: 30%;
  }

  > .name {
    width: 70%;
  }

  > .link {
    width: 70%;
    font-size: 1rem;
    text-decoration: underline;
  }
}

.project-info-text-input-container {
  @include flex(row, flex-start, center);

  width: 70%;
  font-size: 1rem;
  // border: red solid 1px;

  .eth {
    // @include neumorphism-concave-normal();

    margin-right: 20px;
    padding: 5px 10px;
    color: #edeae9;
    background-color: #555;
    // font-size: 1rem;
    border-radius: 5px;
  }

  > input {
    @include neumorphism-concave-normal();

    margin-right: 20px;
    padding: 5px;
    width: 150px;
    background-color: #edeae9;
    border: 0;
    border-radius: 5px;
    outline: 0;
  }

  > .currency {
    // font-size: 1rem;
    margin-right: 20px;
  }

  > button {
    @include flex(row, center, center);
    @include neumorphism();

    padding: 5px 20px;
    // font-size: 1rem;
    text-align: center;
    border-radius: 5px;

    > img {
      margin-right: 10px;
      height: 1.7rem;
      object-fit: contain;
    }
  }
}

.project-info-text-description-container {
  width: 100%;
  height: auto;

  > .label {
    margin-bottom: 1rem;
    // border: red solid 1px;
  }

  > .content {
    @include neumorphism-concave-normal();

    margin-bottom: 3rem;
    padding: 1rem;
    width: 100%;
    min-height: 90%;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 5px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @include neumorphism-concave-normal();

  background: #edeae9;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 20px;
}
