// display flex setup
@mixin flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin neumorphism {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
    -2px -2px 4px rgba(255, 255, 255, 1);
  text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.25),
    -1.5px -1.5px 2px rgba(255, 255, 255, 1);
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:active {
    color: #707070;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3),
      inset -2px -2px 4px rgba(255, 255, 255, 1);
    text-shadow: none;
  }

  &:disabled {
    cursor: default;
    color: #707070;
    border: #ccc solid 1px;
    box-shadow: none;
    text-shadow: none;

    > img {
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    }
  }
}

// neumorphism concave 凹
@mixin neumorphism-concave-strong {
  box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.13),
    inset -8px -8px 15px rgba(255, 255, 255, 1);
}

@mixin neumorphism-concave-normal {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3),
    inset -2px -2px 4px rgba(255, 255, 255, 1);
}

// @mixin neumorphism-concave-weak {}

// neumorphism convex 凸
@mixin neumorphism-convex-strong {
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.13),
    -8px -8px 15px rgba(255, 255, 255, 1);
}

@mixin neumorphism-convex-normal {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
    -2px -2px 4px rgba(255, 255, 255, 1);
}

// @mixin neumorphism-convex-weak {}
