.projects-banner-container {
  @include flex(column, flex-start, center);

  padding: 3rem 0;
  width: 100%;
  height: 700px;
  // border: green solid 1px;
}

.projects-banner-left-container {
  @include flex(column, center, center);

  margin-bottom: 9rem;
  width: 40%;
  // height: 100%;
  // border: red solid 1px;
}

.projects-banner-right-container {
  @include flex(column, center, center);

  // margin-top: 5rem;
  width: 60%;
  // height: 100%;
  // border: red solid 1px;
}

.projects-banner-title {
  font-size: 5rem;
}

.projects-banner-description {
  margin-top: 1.2rem;
  font-size: 1.1rem;
  text-align: center;
}

.project-banner-right-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // margin-top: 10%;
  width: 80%;
}

.projects-banner-right-img {
  width: 100%;
  object-fit: contain;
  border-bottom: #777 solid 2px;
}
