.projects-banner-container {
  @include flex(column, flex-start, center);

  padding: 4rem 0;
  width: 100%;
  height: 700px;
  // border: green solid 1px;
}

.projects-banner-left-container {
  @include flex(column, center, center);

  margin-bottom: 7rem;
  width: 40%;
  // height: 100%;
  // border: red solid 1px;
}

.projects-banner-right-container {
  @include flex(column, center, center);

  // margin-top: 5rem;
  width: 60%;
  // height: 100%;
  // border: red solid 1px;
}

.projects-banner-title {
  margin-bottom: 0.5rem;
  font-size: 5rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25),
    -3px -3px 3px rgba(255, 255, 255, 1);
}

.projects-banner-description {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.project-banner-right-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // margin-top: 10%;
  width: 80%;
}

.projects-banner-right-img {
  width: 100%;
  object-fit: contain;
  border-bottom: #777 solid 2px;
}
