@import './link';

.nav-container {
  @include flex(row, space-between, center);

  padding: 1rem 3rem;
  width: 98%;
  height: 80px;
  border-bottom: #ccc solid 1px;
}

.nav-links {
  @include flex(row, space-between, center);
}
