@import './link';

.nav-container {
  @include flex(row, space-between, center);

  padding: 0 3rem;
  width: 99%;
  height: 10%;
  border-radius: 15px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.13),
    -8px -8px 15px rgba(255, 255, 255, 1);
  border-bottom: #ccc solid 1px;
}

.nav-links {
  @include flex(row, space-between, center);
}
