.nav-link--home {
  @include flex(row, center, center);

  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  color: #555;
}

.nav-logo {
  width: 120px;
  object-fit: contain;
  // border: red solid 1px;
}

.nav-link--others {
  @include flex(row, center, center);

  margin-left: 2rem;
  padding: 0.5rem 1rem;
  color: #555;
  border-radius: 5px;
  transition: all ease 0.4s;

  &:hover {
    @include neumorphism-convex-strong();

    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }
}
