.nav-link--home {
  @include flex(row, center, center);

  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  color: $text-color;
}

.nav-logo {
  width: 120px;
  object-fit: contain;
  transition: all ease 0.4s;

  &:hover {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
    transform: scale(1.1);
  }
}

.nav-link--mooze {
  @include flex(row, center, center);

  margin-left: 2rem;
  padding: 0.7rem 1rem;
  text-align: center;
  color: #fff;
  background-color: #555;
  border-radius: 5px;
  transition: all ease 0.4s;

  &:hover {
    @include neumorphism-convex-strong();

    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }
}

.nav-link {
  @include flex(row, center, center);

  margin-left: 2rem;
  padding: 0.5rem 1rem;
  color: $text-color;
  border-radius: 5px;
  transition: all ease 0.4s;

  &:hover {
    @include neumorphism-convex-strong();

    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }
}
